body{
  font-family: lato;
  color: #111;
  position: relative;
  overflow-x: hidden;
}
.vertical-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
::selection{
  background: #873fb5;
  color: #fff;
}
::-moz-selection{
  background: #873fb5;
  color: #fff;
}
strong{
  font-weight: 900;
}
p{
  line-height: 24px;
  font-weight: 300;
}
a,
a:focus{
  color: #873fb5;
}
a:hover{
  color: #41135f;
  text-decoration: none;
}
section{
  padding: 50px 0;
}
hr{
  width: 85px;
}
hr.icon::after{
  content: "\f123";
  color: #873fb5;
  font-family: "FontAwesome";
  font-size: 1.5em;
  background-color: #fff;
  top: -0.8em;
  position: relative;
  padding: .30em;
}
.section-heading{
  color: #873fb5;
}
.section-heading h3{
  font-weight: 300;
  letter-spacing: 3px;

}
.section-heading hr{
    border-color: #873fb5;
    margin-top: 30px;
    margin-bottom: 40px;
}
/*----- Header ------- */
#home{
  background: url(../media/background.jpg) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 600px;
}
.logo{
  font-size: 72px;
  font-weight: 100;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 0 20px 15px 20px;
}
#home h3{
  font-weight: 300;
  margin: 0;
}
#home .learn-more{
  color: #fff;
  font-size: 30px;
  position: absolute;
}
.learn-more .fa{
  position: absolute;
}
.learn-more .second-arrow{
  top: 8px;
}
.learn-more .third-arrow{
  top: 16px;
}
/*----- About ------- */
#about{
  background: url(../media/background-about.jpg) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 440px;
}
#about h3{
  font-weight: 300;
  letter-spacing: 3px;
}
#about h4{
  font-weight: 300;
  padding: 0 20%;
}
/*----- Services ------- */

.service-item{
  margin-bottom: 40px;
}
.service-item i{
  font-size: 48px;
  color: #c1c1c1;
  float: left;
  border-right: 1px solid #873fb5;
  padding-right: 20px;

}
.service-title {
  margin-top: -24px;
  margin-left: 20px;
  display: inline-block;
}
.service-title h3{
  color: #111;
  font-weight: 900;
}
.service-title h4{
  color: #873fb5;
  font-weight: 300;
  margin-top: -2px;
}

/*----- Skills ------- */
#skills{
  background: url(../media/background-about.jpg) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
#skills h1{
  font-size: 48px;

}
#skills h3{
  font-weight: 300;
  margin-top: 0;
}
#skills p{
  margin: 40px 0;

}
.button{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
  padding-bottom: 10px;
}
.button:hover{
  border-color: #41135f;
}
#skills .button:last-child{
  margin-left: 20px;
}
.progress{
  height: 30px;
  background-color: #000;
  margin-bottom: 30px;
  border-radius: 4px;
  opacity: .70;
  box-shadow: none;
}
.progress-bars h5{
  font-weight: 900;
}
.progress-bar{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#873fb5+0,41135f+100 */
background: #873fb5; /* Old browsers */
background: -moz-linear-gradient(left, #773a95 0%, #8d4563 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #773a95 0%,#8d4563 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #773a95 0%,#8d4563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#773a95', endColorstr='#8d4563',GradientType=1 ); /* IE6-9 */
}

/*----- Portfolio ------- */
#portfolio .col-md-4{
  padding: 0;
}
.portfolio-thumb, .portfolio-overlay{
  height: 270px;
  max-width: 390px;
}
#portfolio .portfolio-thumb img{
  height: 100%;
  width: 100%;
}
#portfolio .portfolio-thumb{
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}
#portfolio .portfolio-thumb .portfolio-overlay{
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  position: absolute;
  background: rgba(135,63, 181, 0.6);
  padding: 20px 10px 20px 20px;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
#portfolio .portfolio-thumb:hover .portfolio-overlay{
  opacity: 1;
  cursor: pointer;
}
#portfolio .portfolio-thumb .portfolio-overlay h2{
  color: #fff;
  font-weight: 300;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 5px 10px 10px 10px;
}
#portfolio .portfolio-thumb .portfolio-overlay a{
  color: #fff;
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  right: 20px;
}

/*----- Stats ------- */

.stats{
  height: 230px;
  color: #fff;
}
.stats i{
  font-size: 48px;
}
.stats h4{
  font-weight: 300;
}
.codes{
  background: url(../media/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.projects{
  background: url(../media/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.client{
  background: url(../media/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.feedback{
  background: url(../media/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
